#map {
    position: absolute;
    height: 100%;
    width: 100%;
}
.info {
    height: 35px;
    width: 245px;
    font: sans-serif;
    text-align: center;
    background: #000000;
}
.info h3 {
    margin: 8.5px;
    color: #ffffff;
}
.sidepanel-content {
    font-size: 1rem;
}
.sidepanel-content h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.sidepanel-content a {
    text-decoration: none;
    font-size: 1rem;
    color: #00ffff;
    transition: color 0.3s ease-in;
}
.sidepanel-content a:hover {
    color: #ffffff;
    text-decoration: underline;
}
